apiVersion: v1
kind: Service
metadata:
  name: grafana
  labels:
    app: grafana
    component: monitoring
spec:
  type: ClusterIP
  selector:
    app: grafana
  ports:
    - port: 3000
      targetPort: 3000
      protocol: TCP
      name: http
